body {
	font-size:10px;
	font-family:arial;
	background-color:#ff8672;;
	margin:0;
	
	-webkit-font-smoothing: antialiased;
	font-family:'DrescherGroteskBTW01-Se';
}

/**
 * fonts
 */
.garamonditalic {
	font-family: Garamond;
	font-style: italic;
	font-weight: normal !important;
}


#wrapper {
	background-color:#fff;

}

section.content {
	width:101.5em;
	margin:0 auto;
}
.slideShow .indicator {
	font-size:1.6em;
	line-height:1.2em;
	padding:0.3em 0 0 0;
	color:#fff;
	text-align:right;
}

/**
 * header#cc-header
 */
header#cc-header {
	overflow:hidden;
	position:fixed;
	background-color:#ff8672;;
	box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,0.3);
	margin-bottom:0.5em;
	height:40em;
	width:100%;
	z-index:10;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
header#cc-header.closed {
	height:3em;
	cursor:pointer;
}
header#cc-header .dot {
	position:absolute;
	width:1em;
	height:1em;
	top:1em;
	left:1.2em;
	border-radius: 0.6em;
	background:#fff;
	display:none;
}
header#cc-header.closed .dot {
	display:block;
}
header#cc-header:hover .dot {
	background:#333333;
}


header#cc-header #branding {
	float:right;
	padding:3em 0 0 3em;
	overflow:hidden;
}
header#cc-header #branding #site-title {
	width: 6.5em;/*5.5em;*/
	height: 4.7em; /*4.1em;*/
}
header#cc-header #branding #site-title a {
	display:block;
	background: url('../images/cc-logo.png') no-repeat scroll top left;
	width:100%;
	height:100%;
	text-indent:-999em;
}

/*nav*/
header#cc-header nav  {
	float:left;
	padding:4em 0 4em 4em;
}

header#cc-header nav ul {
	overflow:hidden;
}
header#cc-header nav ul li {
	float:left;
	padding-right:2em;
}
header#cc-header nav ul li:last-child{
	position:absolute;
	left:51.5%;
}
header#cc-header nav ul li a {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
}
header#cc-header nav ul li a:hover {
	color:#333333;
}

/*about*/
header#cc-header section.about {
	clear:both;
	overflow:hidden;
	padding:0 0 8em 4em;
}
header#cc-header section.about p {
	float:left;
	width:45%;
	padding-right:5%;
	font-size:2em;
	line-height:1em;
	color:#fff;
}


#container {
	padding-top:2em;
}
/**
 * #content
 */
#content {
	position:relative;
	z-index:8;
}


/*home*/
.cc-home {
	background: -webkit-radial-gradient(circle, #fff, #f6f7f2);
	background: -moz-radial-gradient(circle, #fff, #f6f7f2);
	background: -ms-radial-gradient(circle, #fff, #f6f7f2);
	overflow:hidden;
	
	z-index:3;/*3;???*/
}
.cc-home ul {
	width:100%;
	position:relative;
}
.cc-home ul li {
	position:absolute;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.cc-home ul li.transitioning {

	-webkit-transition:all 1s ease-in-out;
	-moz-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}
.cc-home ul li .fader {
	background-color:#ff8672;;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
	opacity:1;
}
.cc-home ul li .fade {
	opacity:0;
}
.cc-home ul li.transitioning .fader {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition:all 1.5s ease-in-out;
	-moz-transition:all 1.5s ease-in-out;
	-o-transition:all 1.5s ease-in-out;
	transition:all 1.5s ease-in-out;
}


.cc-home ul.slideList {
	z-index:1;
}
.cc-home ul.slideList li {
	top:0;
}

.cc-home ul.shadowList {
	z-index:0;
}
.cc-home ul.shadowList li {
}



/**
 * ul.contentList
 */
ul.contentList {

}
ul.contentList li.item {
	padding:0 0 8em 0em;
}
/*ul.contentList li.item:nth-child(2n+1) {
	padding-left:20em;
}*/



/**
 *News
 */
.cc-news {
	background-color:#ff8672;;
	padding:4em 10em;
}
.cc-news .content {
	width:80em;
}

/*twitter -- TODO:
.cc-news .twitter-module {
	padding-bottom:8em;
}
.cc-news .twitter-module p.title {
	font-size:2em;
	line-height:1em;
	color:#fff;
	padding-bottom:1em;
}
.cc-news .twitter-module p.title a {
	text-decoration:none;
	color:#fff;
}
.cc-news .twitter-module p.title a:hover {
	color:#333333;
}
.cc-news .twitter-module .tweet {
	font-size:5em;
	line-height:1em;
	color:#fff;
}
.cc-news .twitter-module .tweet a {
	color:#fff;
}
.cc-news .twitter-module .tweet a:hover {
	color:#333333;
}*/
.cc-news .rotatingtweets {
	padding-bottom:2em;
	border:0 !important;
}
.cc-news .rotatingtweets .rotatingtweet p.rtw_main {
	font-size:5em;
	line-height:1em;
	color:#fff;
	padding-bottom:1em;
	font-family: Garamond;
	font-style: italic;
	font-weight: normal !important;
	position:relative;
	top:0.5em;
}
.cc-news .rotatingtweets .rotatingtweet p.rtw_main  a {
	color:#fff;
}
.cc-news .rotatingtweets .rotatingtweet p.rtw_main a:hover {
	color:#333333;
}

.cc-news .rotatingtweets .rotatingtweet p.rtw_meta {
	font-size:2em;
	line-height:1em;
	color:#fff;
	padding-bottom:1em;
	position:absolute;
	top:0;
}
.cc-news .rotatingtweets .rotatingtweet p.rtw_meta a {
	text-decoration:none;
	color:#fff;
}
.cc-news .rotatingtweets .rotatingtweet p.rtw_meta a:hover {
	color:#333333;
}


/*news article*/
.cc-news article.entry {
	width:60em;
}
.cc-news article.entry header {
	overflow:hidden;
	padding-bottom:2em;
}
.cc-news article.entry h2.title,
.cc-news article.entry .date {
	float:left;
}
.cc-news article.entry h2.title a,
.cc-news article.entry .date a {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
.cc-news article.entry section.content {
	position:relative;
	width:100%;
}
.cc-news article.entry section.content p {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	/*padding-bottom:1.5em;*/
}
.cc-news article.entry section.content .slideShow {
	position:relative;
	padding-bottom:1em;
}
.cc-news article.entry section.content .slideShow ul {
	overflow:hidden;
	width:60em;
	position:relative;
	cursor:pointer;
}
.cc-news article.entry section.content .slideShow ul li {
	background-color:#ff8672;;
	height:100%;
	width:100%;
	position:absolute;
}
.cc-news article.entry section.content .slideShow ul li.transitioning {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-news article.entry section.content .slideShow ul li img {
	width:100%;
	height:auto;
}

.cc-news article.entry section.content .slideShow a {
	position:absolute;
	width: 1.2em;
	height: 2.4em;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	cursor:pointer;
}
.cc-news article.entry section.content .slideShow a.nextBtn {
	background: url('../images/cc-btn-next.png') no-repeat scroll top left;
	right:-5em;
	display:none;
}
.cc-news article.entry section.content .slideShow a.prevBtn {
	background: url('../images/cc-btn-prev.png') no-repeat scroll top left;
	left:-5em;
	display:none;
}

.cc-news a.more-link {
	color:#fff;
	float:right;
	text-decoration:none;
}
.cc-news a.more-link:hover {
	color:#333333;
}

/*news nav*/
.cc-news .navigation {
	border-top:0.1em solid #fff;
	padding:2em 0 2em 0;
	overflow:hidden;
}
.cc-news .navigation p {
	float:right;
	padding-left:2em;
}
.cc-news .navigation p a {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
}
.cc-news .navigation p a:hover {
	color:#333333;
}
.cc-news .navigation p.backToTop {
	float:left;
	padding-left:0;
}
/**
 * store
 */
.cc-store {
	/*background-color:#ff8672;;*/
	padding:4em 10em;
	background: url('../images/cc-store-bg.gif') repeat scroll 50% 50%;

}
.cc-store .content {
	width:80em;
}

.cc-store .slideShow {
	position:relative;
	padding-bottom:3em;
}
.cc-store .slideShow ul.contentList {
	overflow:hidden;
	width:80em;
	position:relative;
	cursor:pointer;
}
.cc-store .slideShow ul li.item {
	height:100%;
	width:100%;
	position:absolute;
}
.cc-store .slideShow ul li.transitioning {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-store .indicator {
	font-size:1.6em;
	line-height:1.2em;
	padding:0.3em 0 0 0;
	color:#333333;
	text-align:right;
}
.cc-store article.entry {
	position:relative;
	width:60em;
	right:2em;
	cursor:pointer;
}
.cc-store article.entry header {
	overflow:hidden;
	position:absolute;
	padding-bottom:2em;
	background:#fff;
	width:27em;
	height:25em;
	top:29em;
	right:-1.5em;
	-moz-border-radius:17em;
	border-radius:17em;
	box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,0.3);
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	cursor:auto;
}
.cc-store article.entry:hover header {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cc-store article.entry header .content {
	width:80%;
	margin:4em auto;
	text-align:center;
}
.cc-store article.entry header h2.title{
	padding-bottom:1em;
	font-size:2em;
	line-height:1em;
	color:#ff8672;;
	text-decoration:none;
	text-transform:uppercase;
}
.cc-store article.entry header .meta {
	
}
.cc-store article.entry header .meta ul {
	
}
.cc-store article.entry header .meta ul li {
	padding:0 0 1em 0;
}
.cc-store article.entry header .meta ul li span.post-meta-key {
	display:none;
}
.cc-store article.entry header .meta ul li.description {
	
	font-size:1.6em;
	line-height:1em;
	color:#ff8672;;
}
.cc-store article.entry header .meta ul li.price {
	font-size:2em;
	line-height:1em;
	color:#ff8672;;
	text-decoration:none;
}
.cc-store article.entry header .meta ul li.buyNow {
	display:none;
}
.cc-store article.entry header a.buyNowBtn {
	font-size:2em;
	line-height:1em;
	color:#ff8672;;
	text-decoration:none;
}
.cc-store article.entry header a.buyNowBtn:hover  {
	
}
.cc-store article.entry section.content img {
	
}



/**
 * models
 */
.cc-models {
	background-color:#ff8672;;
	padding:4em 10em;
}
.cc-models .content {
	width:82.5em;
	overflow:hidden;
}


/**
 * ul.contentList.modelList
 */
.cc-models h2.date {
	clear:both;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	padding-bottom:1em;
}
ul.modelList {
	/*overflow:hidden;*/
}
ul.modelList li {
	float:left;
	padding:0 2em 4em 0;
}
ul.modelList li article.entry {
	position:relative;
	width:auto;
	cursor:pointer;
}
ul.modelList li article.entry header {
	position:absolute;
	background:#333333;
	width:100%;
	height:100%;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

ul.modelList li article.entry header h2.title{
	text-align:center;
	position:relative;
	top:45%;
}
ul.modelList li article.entry .date {
	display:none;
}
ul.modelList li article.entry h2.title a,
ul.modelList li article.entry .date a {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;

}
ul.modelList li article.entry section.content {
	display:none;
}
ul.modelList li article.entry .imgHolder img:hover {
	background:#333333;
}
ul.modelList li article.entry .imgHolder img {
	padding-bottom:0;
}

/*model slide show*/
.cc-models .slideShow {
	position:relative;
/*	margin:0;
	width:60em;*/
}
.cc-models .slideShow h2.date{
	display:none;
}
.cc-models .slideShow ul.modelList  {
	position:relative;
	background-color:#ff8672;;
	width:100%;
}
.cc-models .slideShow ul.modelList li.item {
	position:absolute;
	padding:0;
	float:none;
	width:100%;
	background-color:#ff8672;;

}
.cc-models .slideShow ul.modelList li.transitioning {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-models .slideShow ul.modelList li article.entry {

}
.cc-models .slideShow ul.modelList li article.entry header {
	overflow:hidden;
	padding-bottom:2em;
	background:#333333;
	display:none;
}
.cc-models .slideShow ul.modelList li article.entry h2.title{
	float:left;
}
.cc-models .slideShow ul.modelList li article.entry h2.title a{
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
}
.cc-models .slideShow a.nextBtn,
.cc-models .slideShow  a.prevBtn {
	position:absolute;
	width: 1.2em;
	height: 2.4em;
	z-index:10;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	cursor:pointer;
	display:none;
}
.cc-models .slideShow a.nextBtn {
	background: url('../images/cc-btn-next.png') no-repeat scroll top left;
	top:35em;
	left:65em;
}
.cc-models .slideShow a.prevBtn {
	background: url('../images/cc-btn-prev.png') no-repeat scroll top left;
	top:35em;
	left:-5em;
}
.cc-models .slideShow a.xBtn {
	position:absolute;
	width:4.2em;
	height:4.2em;
	top:0;
	left:65em;
	z-index:10;
	cursor:pointer;
	background: url('../images/cc-btn-x.png') no-repeat scroll top left;
}

.cc-models .slideShow ul.modelList li article.entry section.content {
	width:60em;
	margin:0;
	display:block;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-models .slideShow ul.modelList li.currentSlide article.entry section.content {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cc-models .slideShow ul.modelList li article.entry section.content .meta {
	padding:3em 0 2em 0;
}
.cc-models .slideShow ul.modelList li article.entry section.content .meta ul {
	position:relative;
}
.cc-models .slideShow ul.modelList li article.entry section.content .meta ul li {
	float:none;
	position:relative;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	padding:0;
}
.cc-models .slideShow ul.modelList li article.entry section.content p {
	font-family: Garamond;
	font-style: italic;
	font-weight: normal;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	padding-bottom:0;
}
.cc-models .slideShow ul.modelList li article.entry section.content p.name {
	font-family:'DrescherGroteskBTW01-Se';
	font-style: normal;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
}
.cc-models .slideShow ul.modelList li article.entry .imgHolder img {
	padding:0;
	width:60em;
	height:auto;
}
.cc-models .indicator {
	position:absolute;
	top:31.5em;
	left:35em;
	z-index:4;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	display:none;
}

/**
 * casting
 */
.cc-casting {
	background-color:#ff8672;;
	padding:0;
	height:100%;
}
.cc-casting .content {
	margin:0;
}
.cc-casting iframe {
	position:absolute;
}

/**
 * archive
 */
.cc-archive {
	background-color:#ff8672;;
	padding:4em 10em;
}
.cc-archive .content {
	width:83em;
	overflow:hidden;
}
/**
 * ul.contentList.archiveList
 */
ul.archiveList {
/*	overflow:hidden;
*/}

ul.archiveList li.story {
	padding:0 2em 4em 0;
	float:left;
}
/**
 * archiveStoryList
 */
ul.archiveStoryList {
/*	overflow:hidden;
*/	float:left;
}
ul.archiveStoryList li.item {
	display:none;
}
ul.archiveStoryList li.item article.entry {
	position:relative;
	width:auto;
	cursor:pointer;
}
ul.archiveStoryList li.item article.entry header {
	position:absolute;
	background:#333333;
	width:100%;
	height:100%;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

ul.archiveStoryList li.item article.entry header h2.title{
	text-align:center;
	position:relative;
	top:45%;
}
ul.archiveStoryList li.item article.entry h2.title a {
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
ul.archiveStoryList li.item article.entry section.content {
	display:none;
}
ul.archiveStoryList li.item article.entry .imgHolder img:hover {
	background:#333333;
}
ul.archiveStoryList li.item article.entry .imgHolder img {
	padding-bottom:0;
}


/*archive slide show*/
.cc-archive .slideShow {
	position:relative;
	margin:0;
	width:60em;
}
.cc-archive .slideShow ul.archiveStoryList  {
	position:relative;
	background-color:#ff8672;
	width:100%;
}
.cc-archive .slideShow ul.archiveStoryList li.item {
	position:absolute;
	padding:0;
	float:none;
	width:80%;
	background-color:#ff8672;
}
.cc-archive .slideShow ul.archiveStoryList li.transitioning {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-archive .slideShow ul.archiveStoryList li article.entry {
	background-color:#ff8672;

}
.cc-archive .slideShow ul.archiveStoryList li article.entry header {
	overflow:hidden;
	padding-bottom:2em;
	background:#333333;
	display:none;
}
.cc-archive .slideShow ul.archiveStoryList li article.entry h2.title{
	float:left;
}
.cc-archive .slideShow ul.archiveStoryList li article.entry h2.title a{
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
.cc-archive .slideShow a.nextBtn,
.cc-archive .slideShow  a.prevBtn {
	position:absolute;
	width: 1.2em;
	height: 2.4em;
	z-index:10;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	cursor:pointer;
}
.cc-archive .slideShow a.nextBtn {
	background: url('../images/cc-btn-next.png') no-repeat scroll top left;
	top:35em;
	left:65em;
	display:none;
}
.cc-archive .slideShow a.prevBtn {
	background: url('../images/cc-btn-prev.png') no-repeat scroll top left;
	top:35em;
	left:-5em;
	display:none;
}
.cc-archive .slideShow a.xBtn {
	position:absolute;
	width:4.2em;
	height:4.2em;
	top:0;
	left:65em;
	z-index:10;
	cursor:pointer;
	background: url('../images/cc-btn-x.png') no-repeat scroll top left;
}

.cc-archive .slideShow ul.archiveStoryList li article.entry section.content {
	width:60em;
	margin:0;
	display:block;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.cc-archive .slideShow ul.archiveStoryList li.currentSlide article.entry section.content {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cc-archive .slideShow ul.archiveStoryList li article.entry section.content p {
	font-family: Garamond;
	font-style: italic;
	font-weight: normal;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	padding:0;
}
.cc-archive .slideShow ul.archiveStoryList li article.entry section.content p.name {
	font-family:'DrescherGroteskBTW01-Se';
	font-style: normal;
	font-size:2em;
	line-height:1em;
	color:#fff;
	text-decoration:none;
	padding:1.5em 0 1em 0;
}
.cc-archive .slideShow ul.archiveStoryList li article.entry .imgHolder img {
	padding:0;
	width:60em;
	height:auto;
}
.cc-archive .indicator {
	position:absolute;
	top:31.5em;
	left:35em;
	z-index:4;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	display:none;
}

/**
 * cc-subscribe
 */
.cc-subscribe {
	background:#fff;
	height:600px;
	padding:4em 10em;
}
.cc-subscribe .content {
	width:83em;
	overflow:hidden;
}



footer {
	text-align:center;
	background-color:#ff8672;;
	padding:2em 0;
}
footer a {
	display:block;
	background: url('../images/United-Bamboo-logo.png') no-repeat scroll top left;
	text-indent:-9999px;
	width: 15em;
	height: 1.8em;
	margin:0 auto;
}


/**
 * screensaver
 */
.screensaver {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:11;
	background:#000;
	background:#000 url('../images/bg-screensaver.gif') repeat scroll 50% 50%;
	
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.screensaver .clock {
	font-size:25em;
	color:#ff8672;;
	text-align:center;
	margin:0.25em 0 0 0;
	-webkit-font-smoothing: antialiased;
	font-family:'DrescherGroteskBTW01-Se';
}
.screensaver .clock span{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.screensaver .clock span.blink {
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}